# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/MyGame/proj.win32/.vs
/MyGame/proj.win32/Debug.win32
/MyGame/proj.win32/Release.win32
/MyGame/Resources/画像300％共有用
/MyGame/Resources/新しいフォルダー (3)
/MyGame/bin
